# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/

# Environment
.env
.env.local

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# Build
dist/
build/
.expo/

# Data
data/
*.db
envpdf
docs/
