name: Deploy to Dev

on:
  push:
    branches: [dev]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Deploy to EC2 Dev
        env:
          EC2_HOST: ${{ secrets.EC2_DEV_HOST }}
          EC2_USER: ${{ secrets.EC2_USER }}
          EC2_KEY: ${{ secrets.EC2_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$EC2_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh -o StrictHostKeyChecking=no $EC2_USER@$EC2_HOST "cd /home/ubuntu && rm -rf ProyectoGrupal-G4 && git clone --depth 1 -b dev https://github.com/wnliberio/ProyectoGrupal-G4.git && cd ProyectoGrupal-G4 && cat > .env << EOF
          GOOGLE_API_KEY=${{ secrets.GOOGLE_API_KEY }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          MONGO_URI=${{ secrets.MONGO_URI }}
          EOF
          docker-compose down && docker system prune -a -f && docker-compose up -d --build"
